.CardItem {
    background-color: #3890e9;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
  
.Header {
    margin-bottom: 10px;
}
  
.ItemHeader {
    font-size: 1.2rem;
    margin: 0;
}
  
.Info {
    margin: 5px 0;
}
  
.btn {
    padding: 8px 16px;
    background-color: #343a40;
    border: 1px solid #343a40;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.btn:hover {
    background-color: #212529;
    border-color: #212529;
}
  

  
button:focus {
    outline: none;
}