.Counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
  
.Controls {
    display: flex;
    align-items: center;
}
  
.botonDisminuir,
.botonIncrementar,
.botonCarrito {
    padding: 8px 16px;
    background-color: #007bff;
    border: 1px solid #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.botonDisminuir:hover,
.botonIncrementar:hover,
.botonCarrito:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
  
.Number {
    margin: 0 10px;
    font-size: 1.2rem;
}
  
  .botonCarrito:disabled {
    background-color: #6c757d;
    border-color: #6c757d;
    cursor: not-allowed;
}
  
.botonCarrito:disabled:hover {
    background-color: #6c757d;
    border-color: #6c757d;
}